@charset "utf-8";

@media screen and (min-width:1000px) {
	#client { background:#fff; width:100% }
	#client h2 { color:#000; text-align:left; vertical-align:middle }
	.pt1 { width:831px; height:50px; text-align:left; vertical-align:middle }
	.pt2 { width:831px; height:488px; text-align:left; vertical-align:middle }
	.pt_img { width:831px; text-align:left; vertical-align:middle; margin:0px 5px 5px 0px } 
	.pt_h2 { color:#000; width:831px }
	.hiddenwords { position:absolute; left:-1000%; top:0; width:1px; height:1px; overflow:hidden; display:block }
	}

@media screen and (min-width:640px) and (max-width:999px) {
	#client { background:#fff; width:100% }
	.pt1 { width:90%; height:50px; text-align:center; vertical-align:middle }
	.pt2 { width:90%; text-align:center; vertical-align:middle }
	.pt_img img { width:80% }
	.pt_img { width:90%; text-align:center; vertical-align:middle; margin:0px 5px 5px 40px }
	.hiddenwords { position:absolute; left:-1000%; top:0; width:1px; height:1px; overflow:hidden; display:block }
 }

@media screen and (min-width:150px) and (max-width:639px) {
	#client { background:#fff; width:85% }
	.pt1 { width:95%; height:60px; text-align:center; vertical-align:middle }
	.pt2 { width:90%; text-align:center; vertical-align:middle }
	.pt3_h2 h2 { font:bold 15pt 'Nanum'; color:#000; width:100%; padding-bottom:0px; text-align:center; vertical-align:middle }
	.pt_img { text-align:center; vertical-align:middle; margin:0px 5px 0px 0px }
	.pt_img img { width:100% }
	.hiddenwords { position:absolute; left:-1000%; top:0; width:1px; height:1px; overflow:hidden; display:block }
}
