@charset "utf-8";

@media screen and (min-width:1000px) {
	#location { background:#fff; width:831px }
	#location h2 { color:#000; text-align:left; vertical-align:middle }
	.pt1 { width:831px; text-align:left; vertical-align:middle }
	.pt1 iframe { width:831px; height:450px; margin:0px 5px 5px 0px }
	.pt2 { width:100%; text-align:center; vertical-align:middle }
	.pt_h2 { color:#000; width:810px }
	}

@media screen and (min-width:640px) and (max-width:999px) {
	#location { background:#fff; width:100% }
	.pt1 { width:90%; text-align:center; vertical-align:middle }
	.pt1 iframe { width:80%; height:450px; text-align:center; vertical-align:middle; margin:0px 5px 5px 0px }
	.pt2 { width:90%; text-align:center; vertical-align:middle }
 }

@media screen and (min-width:150px) and (max-width:639px) {
	#location { background:#fff; width:100% }
	.pt1 { width:90%; text-align:center; vertical-align:middle }
	.pt1 iframe { width:95%; height:250px; text-align:center; vertical-align:middle; margin:0px 5px 15px 10px }
	.pt2 { width:90%; text-align:center; vertical-align:middle }
 }